<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Generic Mongodb Usage </h1>
  </div>
  <div class="panel-body">



<h3 id="starting">Starting:</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>mongo
</code></pre>
</div>

<h3 id="connect-to-database">Connect to database</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>show dbs
use local
</code></pre>
</div>

<h3 id="see-database-tables">See database tables</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>show collections
db.funnytable.find()
</code></pre>
</div>

<h3 id="regex">Regex</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>db.funnytable.find(
  $or: [
        {'name': { $regex: req.params.username, $options: 'i' }},
        {'username': { $regex: req.params.username, $options: 'i' }},
        {'email': { $regex: req.params.username, $options: 'i' }}
      ])
</code></pre>
</div>


  </div>
</div>

</div>
