<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LaTeX Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap_custom.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">iix-notes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/notes.html">Notes</a></li>
        <li><a href="/beer.html">Beerlist</a></li>
        <li><a href="/wishlist.html">Wishlist</a></li>
        <li><a href="/moria">Moria</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


        <div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> LaTeX Template </h1>
  </div>
  <div class="panel-body">



<div class="highlighter-rouge"><pre class="highlight"><code><span class="k">\documentclass</span><span class="na">[a4paper,11pt]</span><span class="p">{</span>article<span class="p">}</span>
<span class="k">\usepackage</span><span class="na">[utf8]</span><span class="p">{</span>inputenc<span class="p">}</span>

<span class="k">\author</span><span class="p">{</span>Author Name<span class="p">}</span>
<span class="k">\title</span><span class="p">{</span>This is the title<span class="p">}</span>

<span class="nt">\begin{document}</span>
<span class="k">\maketitle</span>

<span class="k">\section</span><span class="p">{</span>Section Title<span class="p">}</span>
Wow, text
<span class="k">\flushleft</span>

More Text<span class="k">\\</span><span class="na">[10pt]</span>

Text

<span class="nt">\end{document}</span>
</code></pre>
</div>


  </div>
</div>

</div>

    <!-- jQuery and Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
