<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Generic MYSQL Usage </h1>
  </div>
  <div class="panel-body">



<h2 id="starting">Starting</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>mysql         # Same username, no password
mysql -p      # Password protected
mysql -u user # Another username
</code></pre>
</div>

<h2 id="connect-to-databaes">Connect to databaes</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>SHOW DATABASES;
USE mysql;
</code></pre>
</div>

<h2 id="see-database-tables">See database tables</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>SHOW TABLES;
SELECT * FROM important_stuffs;
</code></pre>
</div>

<h2 id="extend-tables">Extend tables</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>ALTER TABLE important_stuffs ADD description VARCHAR(100);
ALTER TABLE important_stuffs ADD description VARCHAR(100) AFTER severity;
ALTER TABLE important_stuffs ADD description VARCHAR(100) FIRST;
</code></pre>
</div>

<h2 id="delete-from-tables">Delete from tables</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>SELECT * FROM important_stuffs WHERE severity="low";
DELETE FROM important_stuffs WHERE severity="low";
</code></pre>
</div>

<h2 id="insert-into-tables">Insert into tables</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>INSERT INTO important_stuffs VALUES("Wow, so important", "high");
INSERT INTO important_stuffs SET description="Wow, so important", severity="high";
</code></pre>
</div>

<h2 id="show-access-rights">Show access rights</h2>
<div class="highlighter-rouge"><pre class="highlight"><code>SHOW GRANTS;
</code></pre>
</div>


  </div>
</div>

</div>
