<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generic Mongodb Usage</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap_custom.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">iix-notes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/notes.html">Notes</a></li>
        <li><a href="/beer.html">Beerlist</a></li>
        <li><a href="/wishlist.html">Wishlist</a></li>
        <li><a href="/moria">Moria</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


        <div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Generic Mongodb Usage </h1>
  </div>
  <div class="panel-body">



<h3 id="starting">Starting:</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>mongo
</code></pre>
</div>

<h3 id="connect-to-database">Connect to database</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>show dbs
use local
</code></pre>
</div>

<h3 id="see-database-tables">See database tables</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>show collections
db.funnytable.find()
</code></pre>
</div>

<h3 id="regex">Regex</h3>
<div class="highlighter-rouge"><pre class="highlight"><code>db.funnytable.find(
  $or: [
        {'name': { $regex: req.params.username, $options: 'i' }},
        {'username': { $regex: req.params.username, $options: 'i' }},
        {'email': { $regex: req.params.username, $options: 'i' }}
      ])
</code></pre>
</div>


  </div>
</div>

</div>

    <!-- jQuery and Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
