<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> .ssh/config </h1>
  </div>
  <div class="panel-body">



<p>To make it easier to ssh (and enable autocomplete), create a ~/.ssh/config like
this:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>Host *
  SendEnv LANG LC_*
  HashKnownHosts yes
  GSSAPIAuthentication yes
  PreferredAuthentications publickey,password
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 60
  Compression      yes
  CompressionLevel 4
Host github
  Hostname github.com
  User git
</code></pre>
</div>

<p>and you will always use user git when you ssh to github</p>

  </div>
</div>

</div>
