<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Fix Ubuntu X11 </h1>
  </div>
  <div class="panel-body">

Updated my school ubuntu ws from raring to trust and X11 stopped working.
My solution:


<figure class="highlight"><pre><code class="language-bash" data-lang="bash">sudo apt-get remove --purge xserver-xorg
sudo apt-get remove --purge nvidia<span class="k">*</span>
sudo apt-get autoremove --purge
sudo reboot

<span class="c">#..rebooting..</span>

sudo apt-get install xserver-xorg
sudo dpkg-reconfigure xserver-xorg <span class="c"># NB; nothing will seem to happen</span>
sudo reboot

<span class="c">#..rebooting..</span></code></pre></figure>

  </div>
</div>

</div>
