<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> LaTeX Template </h1>
  </div>
  <div class="panel-body">



<div class="highlighter-rouge"><pre class="highlight"><code><span class="k">\documentclass</span><span class="na">[a4paper,11pt]</span><span class="p">{</span>article<span class="p">}</span>
<span class="k">\usepackage</span><span class="na">[utf8]</span><span class="p">{</span>inputenc<span class="p">}</span>

<span class="k">\author</span><span class="p">{</span>Author Name<span class="p">}</span>
<span class="k">\title</span><span class="p">{</span>This is the title<span class="p">}</span>

<span class="nt">\begin{document}</span>
<span class="k">\maketitle</span>

<span class="k">\section</span><span class="p">{</span>Section Title<span class="p">}</span>
Wow, text
<span class="k">\flushleft</span>

More Text<span class="k">\\</span><span class="na">[10pt]</span>

Text

<span class="nt">\end{document}</span>
</code></pre>
</div>


  </div>
</div>

</div>
