<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Syscalls </h1>
  </div>
  <div class="panel-body">



<table>
  <thead>
    <tr>
      <th style="text-align: center">64 bits</th>
      <th style="text-align: center">32 bits</th>
      <th style="text-align: center">16 bits</th>
      <th style="text-align: center">8 bits</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">rax</td>
      <td style="text-align: center">eax</td>
      <td style="text-align: center">ax</td>
      <td style="text-align: center">al</td>
    </tr>
    <tr>
      <td style="text-align: center">rbx</td>
      <td style="text-align: center">ebx</td>
      <td style="text-align: center">bx</td>
      <td style="text-align: center">bl</td>
    </tr>
    <tr>
      <td style="text-align: center">rcx</td>
      <td style="text-align: center">ecx</td>
      <td style="text-align: center">cx</td>
      <td style="text-align: center">cl</td>
    </tr>
    <tr>
      <td style="text-align: center">rdx</td>
      <td style="text-align: center">edx</td>
      <td style="text-align: center">dx</td>
      <td style="text-align: center">dl</td>
    </tr>
    <tr>
      <td style="text-align: center">rsi</td>
      <td style="text-align: center">esi</td>
      <td style="text-align: center">si</td>
      <td style="text-align: center">sil</td>
    </tr>
    <tr>
      <td style="text-align: center">rdi</td>
      <td style="text-align: center">edi</td>
      <td style="text-align: center">di</td>
      <td style="text-align: center">dil</td>
    </tr>
    <tr>
      <td style="text-align: center">rbp</td>
      <td style="text-align: center">ebp</td>
      <td style="text-align: center">bp</td>
      <td style="text-align: center">bpl</td>
    </tr>
    <tr>
      <td style="text-align: center">rsp</td>
      <td style="text-align: center">esp</td>
      <td style="text-align: center">sp</td>
      <td style="text-align: center">spl</td>
    </tr>
    <tr>
      <td style="text-align: center">r8</td>
      <td style="text-align: center">r8d</td>
      <td style="text-align: center">r8w</td>
      <td style="text-align: center">r8b</td>
    </tr>
    <tr>
      <td style="text-align: center">r9</td>
      <td style="text-align: center">r9d</td>
      <td style="text-align: center">r9w</td>
      <td style="text-align: center">r9b</td>
    </tr>
    <tr>
      <td style="text-align: center">r10</td>
      <td style="text-align: center">r10d</td>
      <td style="text-align: center">r10w</td>
      <td style="text-align: center">r10b</td>
    </tr>
    <tr>
      <td style="text-align: center">r11</td>
      <td style="text-align: center">r11d</td>
      <td style="text-align: center">r11w</td>
      <td style="text-align: center">r11b</td>
    </tr>
    <tr>
      <td style="text-align: center">r12</td>
      <td style="text-align: center">r12d</td>
      <td style="text-align: center">r12w</td>
      <td style="text-align: center">r12b</td>
    </tr>
    <tr>
      <td style="text-align: center">r13</td>
      <td style="text-align: center">r13d</td>
      <td style="text-align: center">r13w</td>
      <td style="text-align: center">r13b</td>
    </tr>
    <tr>
      <td style="text-align: center">r14</td>
      <td style="text-align: center">r14d</td>
      <td style="text-align: center">r14w</td>
      <td style="text-align: center">r14b</td>
    </tr>
    <tr>
      <td style="text-align: center">r15</td>
      <td style="text-align: center">r15d</td>
      <td style="text-align: center">r15w</td>
      <td style="text-align: center">r15b</td>
    </tr>
  </tbody>
</table>

<h2 id="links">Links</h2>
<ul>
  <li><a href="http://blog.rchapman.org/post/36801038863/linux-system-call-table-for-x86-64">64-bit syscalls</a></li>
  <li><a href="http://docs.cs.up.ac.za/programming/asm/derick_tut/syscalls.html">32-bit syscalls</a></li>
</ul>

  </div>
</div>

</div>
