<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Android Studio Questionmark Instead of Phone Name </h1>
  </div>
  <div class="panel-body">



<p>If you get questionmarks instead of phone name when trying to run your app, you
can fix it with the following code:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="c">#! /usr/bin/env bash</span>
<span class="nv">path</span><span class="o">=</span><span class="s2">"/opt/android-studio"</span>  <span class="c"># Path where Android Studio is installed</span>
<span class="nb">set</span> -e

<span class="s2">"</span><span class="nv">$path</span><span class="s2">/sdk/platform-tools/adb"</span> <span class="nb">kill</span>-server
sudo <span class="s2">"</span><span class="nv">$path</span><span class="s2">/sdk/platform-tools/adb"</span> start-server
<span class="s2">"</span><span class="nv">$path</span><span class="s2">/sdk/platform-tools/adb"</span> devices
</code></pre>
</div>

<p>If it doesn’t work the first time, try a few more times</p>


  </div>
</div>

</div>
