<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Setup Teamspeak3 Server </h1>
  </div>
  <div class="panel-body">



<ul>
  <li>Download tarball from www.teamspeak.com</li>
  <li>Untar to /home/teamspeak</li>
  <li>Add user/group teamspeak</li>
  <li>Run the init as teamspeak</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>sudo su - teamspeak
./ts3server_minimal_runscript.sh createinifile=1
</code></pre>
</div>

<ul>
  <li>Configure ts3server.ini</li>
  <li>Make sure you can start it (then ^C to kill it)</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>./ts3server_startscript.sh start
</code></pre>
</div>

<ul>
  <li>Create /etc/systemd/system/teamspeak.service</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>[Unit]
Description=Teamspeak server
After=network.target

[Service]
User=teamspeak
Group=teamspeak
Type=forking
PIDFile=/home/teamspeak/ts3server.pid
ExecStart=/home/teamspeak/ts3server_startscript.sh start

[Install]
WantedBy=multi-user.target
</code></pre>
</div>

<ul>
  <li>Test it thought systemctl and then enable it</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>sudo systemctl start teamspeak.service
sudo systemctl enable teamspeak.service
</code></pre>
</div>


  </div>
</div>

</div>
