<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Awk </h1>
  </div>
  <div class="panel-body">



<h1 id="awk-for-pattern-matching-grep">Awk for pattern matching (grep)</h1>

<div class="highlighter-rouge"><pre class="highlight"><code># Should return one line per file
ls -a | awk '//'

# Should print files starting with a dot
ls -a | awk '/^\./'
</code></pre>
</div>

<h1 id="awk-for-counting-wc">Awk for counting (wc)</h1>

<div class="highlighter-rouge"><pre class="highlight"><code>ls | awk '{i++} END {print i}' # Should return number of files
</code></pre>
</div>

<h1 id="awk-being-useful">Awk being useful</h1>

<div class="highlighter-rouge"><pre class="highlight"><code># Deletes all svn-files with an exclamation mark in 'svn status'
svn status | awk '/^!/{print $2}' | xargs svn delete --force

# Finds only first match and prints it
echo data | awk "/$pattern/{print;exit}"

# Ignore the first line
echo data | awk 'NR&gt;1'

# Ignore duplicates
echo data | awk '!seen[$0]++'
</code></pre>
</div>


  </div>
</div>

</div>
