<div class="container" role="main"><div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Installing Courier </h1>
  </div>
  <div class="panel-body">



<h2 id="description">Description:</h2>
<p>Install courier on server</p>

<h2 id="implementation">Implementation:</h2>
<ul>
  <li>Login as root</li>
  <li>Install fam and courier-imap-ssl through aptitude
    <ul>
      <li>Create directories for web-based administration? <strong>No</strong></li>
    </ul>
  </li>
  <li>In /etc/postfix/main.cf, add line:</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>home_mailbox = Maildir/
</code></pre>
</div>

<ul>
  <li>Restart service</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>service postfix restart
</code></pre>
</div>

<ul>
  <li>You may need to run <em>maildirmake Maildir</em> when in homedir?</li>
</ul>

<h2 id="verification">Verification:</h2>
<ol>
  <li>Should be able to login as root on imap from outside of LAN</li>
  <li>Should be able to login as root on imap with STARTTLS from outside of LAN</li>
</ol>


  </div>
</div>

</div>
